.foot
{
    font-size: 75%;
    text-align: center;
}
footer
{
    background-color: rgb(40, 40, 40);
}
.studioimg
{
    width: 16px;
    height: 16px;
}
body
{
    font-size: 120%;
    background-color: rgb(31, 31, 31);
}
a
{
    background-color: rgb(52, 58, 64);
    color: rgb(86, 156, 214);
    text-decoration: none;
}
.footerclearcss
{
    background-color: rgb(40, 40, 40);
}
h1
{
    color: rgb(204, 204, 204);
}
h2
{
    color: rgb(204, 204, 204);
}
h3
{
    color: rgb(204, 204, 204);
}
h4
{
    color: rgb(204, 204, 204);
}
h5
{
    color: rgb(204, 204, 204);
}
h6
{
    color: rgb(204, 204, 204);
}
p
{
    color: rgb(204, 204, 204);
}