.foot
{
    font-size: 75%;
    text-align: center;
}
footer
{
    background-color: rgb(214, 214, 214);
}
.studioimg
{
    width: 16px;
    height: 16px;
}
body
{
    font-size: 120%;
    background-color: rgb(255, 255, 255);
}
a
{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 255);
    text-decoration: none;
}
.footerclearcss
{
    background-color: rgb(214, 214, 214);
}
h1
{
    color: rgb(0, 0, 0);
}
h2
{
    color: rgb(0, 0, 0);
}
h3
{
    color: rgb(0, 0, 0);
}
h4
{
    color: rgb(0, 0, 0);
}
h5
{
    color: rgb(0, 0, 0);
}
h6
{
    color: rgb(0, 0, 0);
}
p
{
    color: rgb(0, 0, 0);
}